// theme
$color-title: #fff;
$color-sub: #999;
$color-h1: #8c8c8c;
$color-link: #000;
$color-bg: #000;
$font-family: 'Lato','Chosunilbo_myungjo';
$aspect-ratio: 33/17;
$image-width-max: 500px;
// theme



//layout
.App {
    main {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        background-color: $color-bg;
    
        
        .container {
            width: 1280px;
            margin: 0 auto;
            // border: 1px solid $color-sub;
        
            section {
                padding: 60vh 0;
            }
        }
        
    }
}
//layout



//nav
nav {
    z-index: 1000;
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
    li {
        margin-top: 20px;
        transition: .2s;

        &.active {
            transform: scale(1.2);

            a .nav-filter {
                opacity: 0;
            }
        }
        &:hover {
            transform: scale(1.2);
        }
        a {
            position: relative;
            width: 35px;
            height: 35px;

            .nav-filter {
                position: absolute;
                z-index: 1111;
                top: 0;
                left: 0;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.6);
                transition: .5s;
            }
            img {
                display: block;
                width: 35px;
                height: 35px;
            }
            em {
                display: none;
            }
        }
    }
}
//nav



//section0
#section0 {
    overflow: hidden;
    padding-bottom: 200px;
    h1 {
        font-size: 8vw;
        color: $color-h1;
        text-transform: uppercase;
        padding: 10vw 8vw 0 8vw;
        font-weight: 100;

        em {
            opacity: 0;
            display: block;
            font-family: 'Lato';
            padding-left: 18vw;
            font-weight: normal;
            transform: translate(200px, 0);
            transition: all 2s ease;

            &.show {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }
    .moon-main {
        display: block;
        width: 80vw;
        text-align: center;
        transform: translate(0, 200px);
        transition: all 4s ease;

        &.show {
            transform: translate(0, 0);
        }
    }
}
//section0



//section1
#section1 {
    img {
        width: 600px;
        display: inline-block;
    }
    .terrain-wrap{
        float: right;
        width: 500px;

        .terrain-item{
            position: relative;

            &.sea {
                .line {
                    width: 530px;
    
                    .horizon {
                        width: 430px;
                    }
                }
                h2 {
                    margin: 0;
                }
            }
            &.mountain {
                .line {
                    .horizon {
                        width: 330px;
                    }
                }
            }
            &.craters {
                .line {
                    width: 460px;
    
                    .horizon {
                        width: 360px;
                    }
                }
            }
            .line{
                opacity: 0;
                position: absolute;
                height: 100px;
                transform: translate(calc(-100% - 20px), 20px);
                transition: all .5s .2s ease;

                &.show {
                    opacity: 1;
                }
                .diagonal{
                    display: inline-block;
                    width: 100px;
                    height: 100%;
                    transform: translate(50px, 20.71px) rotate(-45deg);
                    border-top: 1px solid white;
                }
                .horizon{
                    display: inline-block;
                    height: 100px;
                    border-top: 1px solid white;
                }
            }
            h2 {
                opacity: 0;
                margin-top: 40px;
                font-size: 40px;
                font-weight: 400;
                color: $color-title;
                transform: translate(100px, 0);
                transition: all .5s .5s ease;

                &.show {
                    opacity: 1;
                    transform: translate(-5px, 0);
                }
                em {
                    opacity: 0;
                    font-size: 25px;
                    color: $color-h1;
                    transition: all .5s .6s ease;
                    transform: translate(100px, 0);

                    &.show {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }
            p {
                opacity: 0;
                margin-top: 10px;
                padding-left: 10px;
                color: $color-sub;
                line-height: 25px;
                transform: translate(0, 100px);
                transition: all .5s 1s ease;

                &.show {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
        }
    }
}
//section1

//section2
#section2 {
    .moon-card {
        position: relative;
        width: 800px;
        height: 800px;
        margin: 0 auto;

        &:hover {
            .moon-card-front {
                transform: rotateY(180deg);
            }
            .moon-card-back {
                z-index: 1;
                transform: rotateY(0deg);
            }
        }
        .moon-card-front {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transform: rotateY(0deg);
            backface-visibility: hidden;
            transition: all .8s ease-in-out;
            
            .star {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border: 1px solid $color-title;
                border-radius: 40%;
            }
            .moon-front{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 70%;
                transform: translate(-50%, -50%) translateZ(100px);
            }
            figcaption {
                position: absolute;
                bottom: 10%;
                left: 70%;
                font-size: 4em;
                font-weight: lighter;
                color: $color-title;
                transform: translate(-50%, -50%) translateZ(200px);
            }
        }
        .moon-card-back {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transform: rotateY(-180deg);
            backface-visibility: hidden;
            transition: all .8s ease-in-out;

            .star {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border: 1px solid $color-title;
                border-radius: 40%;
            }
            .moon-back{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 70%;
                transform: translate(-50%, -50%) translateZ(100px);
            }
            .earth {
                position: absolute;
                top: 10%;
                right: 10%;
                transform: translateZ(50px);
            }
            figcaption {
                position: absolute;
                bottom: 10%;
                left: 70%;
                font-size: 4em;
                font-weight: lighter;
                color: $color-title;
                transform: translate(-50%, -50%) translateZ(200px);
            }
        }
    }
}
//section2



//section3
#section3 {}
//section3



//section4
#section4 {
    h2 {
        font-size: 40px;
        color: $color-title;
    }

    .chatroom {
        position: relative;
        width: 100%;
        height: 600px;
        border: 1px solid $color-title;
        border-radius: 8px;
        overflow: overlay;
        color: $color-title;

        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            height: 30%; /* 스크롤바의 길이 */
            background: $color-sub; /* 스크롤바의 색상 */
            border-radius: 10px;
        }
        ul {
            margin: 80px;

            li {
                padding: 10px;
                margin: 15px;

                &.myChat {
                    float: right;

                    .chatInfo {
                        text-align: right;

                        .userName {
                            float: right;
                        }
                    }
                }
                .chatInfo {
                    .userName {
                        font-size: 20px;
                    }
                    .chatTime {
                        margin: 0px 5px;
                        font-size: 10px;
                    }
                }
                .chat {
                    display: inline-block;
                    padding: 10px;
                    margin: 10px;
                    border: 1px solid $color-title;
                    border-radius: 8px;
                    line-height: 25px;
                }
            }
        }
    }

    .chatInput {
        width: 60%;
        height: 50px;
        margin: 0px auto;
        border: 1px solid $color-title;
        border-top: none;
        border-radius: 0 0 8px 8px;
        overflow: hidden;

        input {
            display: inline-block;
            width: 80%;
            height: 100%;
            padding-left: 20px;
            margin: 0;
            background-color: #000;
            color: $color-title;
            font-size: 15px;
            border: none;
            outline: none;
        }
        button {
            display: block;
            float: right;
            width: 10%;
            height: 100%;
            margin: 0;
            border: none;
            border-left: 1px solid $color-title;
            background-color: #000;
            color: white;

            img {
                width: 90%;
            }
        }
    }
}
//section4



//media query
@media screen and (max-width:1279px) {
    //Desktop
    .App {
        main {
            .container {
                width: 80vw;
            }
        }
    }
    
    .terrain-wrap {
        margin: 100px auto;
        .terrain-item {
            .line {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    //Tablet
    #section0 {
        h1 {
            font-size: 15vw;
            text-align: center;

            em {
                padding-left: 0;
                font-weight: normal;
            }
        }
        .moon-main {
            width: 100vw;
        }
    }
    
    #section2 {
        .moon-card {
            width: 80vw;
            height: 80vw;
        }
    }
}
@media screen and (max-width:767px){ 
    //Mobile
    nav {
        right: 20px;

        li {
            a {
                width: 25px;
                height: 25px;

                .nav-filter {
                    width: 25px;
                    height: 25px;
                }
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    #section1 {
        img {
            display: block;
            margin: 0 auto;
            width: 80%;
        }
        .terrain-wrap {
            float: none;
            width: 80%;
            margin: 100px auto;

            .terrain-item {
                display: block;
                text-align: center;
                margin: 100px auto;
                h2 {
                    &.show {
                        transform: translate(0, 0);
                    }
                    em {
                        display: block;
                        margin-top: 5px;
                    }
                }
                p {
                    margin-top: 20px;
                    text-align: left;
                }
            }
        }
    }
    #section2 {
        .moon-card {
            width: 70vw;
            height: 70vw;

            .moon-card-back{
                .earth {
                    top: 5%;
                    right: 5%;
                }
            }
        }
    }
    #section4 {
        .chatroom {
            border-radius: 8px 8px 0 0;

            ul {
                margin: 30px;
            }
        }
        .chatInput {
            width: 100%;
        }
    }
}
//media query
  